In [2]:
import pandas as pd
import requests
import json
import prettytable

In [3]:
headers = {'Content-type': 'application/json'}
cpi_series_id = "CUUR0000SA0"
cpi_info = json.dumps({"seriesid":[cpi_series_id],"startyear":"2001","endyear":"2021"})
response = requests.post("https://api.bls.gov/publicAPI/v2/timeseries/data/",data=cpi_info,headers=headers)
cpi_json_data = json.loads(response.text)

In [8]:
# print(json.dumps(json_data, indent=4, sort_keys=False))
response_results = []
for series in cpi_json_data['Results']['series']:    
    series_id = series['seriesID']
    for item in series['data']:
        entity={}
        entity['year'] = item['year']
        entity['period'] = item['period']
        entity['value'] = item['value']
        response_results.append(entity)
cpi_dataset = pd.DataFrame(response_results)
cpi_dataset.to_csv("../datasets/BLS_CPI.csv")

In [9]:
cpi_dataset.shape

(120, 3)

In [15]:
cpi_dataset[:20]

    year period    value
0   2010    M12  219.179
1   2010    M11  218.803
2   2010    M10  218.711
3   2010    M09  218.439
4   2010    M08  218.312
5   2010    M07  218.011
6   2010    M06  217.965
7   2010    M05  218.178
8   2010    M04  218.009
9   2010    M03  217.631
10  2010    M02  216.741
11  2010    M01  216.687
12  2009    M12  215.949
13  2009    M11  216.330
14  2009    M10  216.177
15  2009    M09  215.969
16  2009    M08  215.834
17  2009    M07  215.351
18  2009    M06  215.693
19  2009    M05  213.856

In [25]:
cpi_dataset['date'] = cpi_dataset.apply(lambda x: x[0]+"-"+x[1].replace("M",""),axis=1)
cpi_dataset = cpi_dataset[['data','value']]
cpi_dataset.columns = 'Date','CPI'
cpi_dataset

C:\Users\mk168\PycharmProjects\pythonTutorial\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        Date      CPI
0    2010-12  219.179
1    2010-11  218.803
2    2010-10  218.711
3    2010-09  218.439
4    2010-08  218.312
..       ...      ...
115  2001-05    177.7
116  2001-04    176.9
117  2001-03    176.2
118  2001-02    175.8
119  2001-01    175.1

[120 rows x 2 columns]

In [16]:
# wages and salaries for private industry workers in all industries and occupations
# 12-month percent change
wsp_series_id = "CIU2020000000000A"
wsp_info = json.dumps({"seriesid":[wsp_series_id],"startyear":"2001","endyear":"2021"})
wsp_response = requests.post("https://api.bls.gov/publicAPI/v2/timeseries/data/",data=wsp_info,headers=headers)
wsp_json_data = json.loads(wsp_response.text)

In [17]:
print(json.dumps(wsp_json_data, indent=4, sort_keys=False))

{
    "status": "REQUEST_SUCCEEDED",
    "responseTime": 222,
    "message": [
        "Year range has been reduced to the system-allowed limit of 10 years."
    ],
    "Results": {
        "series": [
            {
                "seriesID": "CIU2020000000000A",
                "data": [
                    {
                        "year": "2010",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "1.8",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2010",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "1.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2010",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "1.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2010",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "1.5",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2009",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "1.3",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2009",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "1.4",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2009",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "1.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2009",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "2.0",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2008",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "2.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2008",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "2.9",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2008",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "3.1",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2008",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "3.2",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2007",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "3.3",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2007",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "3.4",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2007",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "3.3",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2007",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "3.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2006",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "3.2",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2006",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "3.0",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2006",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "2.8",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2006",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "2.4",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2005",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "2.5",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2005",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "2.3",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2005",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "2.5",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2005",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "2.7",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2004",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "2.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2004",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "2.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2004",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "2.7",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2004",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "2.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2003",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "3.1",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2003",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "3.0",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2003",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "2.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2003",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "2.9",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2002",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "2.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2002",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "3.1",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2002",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "3.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2002",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "3.5",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2001",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "3.8",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2001",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "3.5",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2001",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "3.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2001",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "3.8",
                        "footnotes": [
                            {}
                        ]
                    }
                ]
            }
        ]
    }
}

In [36]:
wsp_response_results = []
for series in wsp_json_data['Results']['series']:    
    series_id = series['seriesID']
    for item in series['data']:
        entity={}
        entity['year'] = item['year']
        entity['period'] = item['period']
        entity['value'] = item['value']
        wsp_response_results.append(entity)
wsp_dataset = pd.DataFrame(wsp_response_results)
wsp_dataset.to_csv("../datasets/BLS_WSP.csv")

In [37]:
wsp_dataset.shape

(40, 3)

In [38]:
wsp_dataset.head()

   year period value
0  2010    Q04   1.8
1  2010    Q03   1.6
2  2010    Q02   1.6
3  2010    Q01   1.5
4  2009    Q04   1.3

In [39]:
wsp_dataset['date'] = wsp_dataset.apply(lambda x: x[0]+x[1].replace("0",""),axis=1)
wsp_dataset = wsp_dataset[['date','value']]
wsp_dataset.columns = 'date','wages'
wsp_dataset

      date wages
0   2010Q4   1.8
1   2010Q3   1.6
2   2010Q2   1.6
3   2010Q1   1.5
4   2009Q4   1.3
5   2009Q3   1.4
6   2009Q2   1.6
7   2009Q1   2.0
8   2008Q4   2.6
9   2008Q3   2.9
10  2008Q2   3.1
11  2008Q1   3.2
12  2007Q4   3.3
13  2007Q3   3.4
14  2007Q2   3.3
15  2007Q1   3.6
16  2006Q4   3.2
17  2006Q3   3.0
18  2006Q2   2.8
19  2006Q1   2.4
20  2005Q4   2.5
21  2005Q3   2.3
22  2005Q2   2.5
23  2005Q1   2.7
24  2004Q4   2.6
25  2004Q3   2.6
26  2004Q2   2.7
27  2004Q1   2.6
28  2003Q4   3.1
29  2003Q3   3.0
30  2003Q2   2.6
31  2003Q1   2.9
32  2002Q4   2.6
33  2002Q3   3.1
34  2002Q2   3.6
35  2002Q1   3.5
36  2001Q4   3.8
37  2001Q3   3.5
38  2001Q2   3.6
39  2001Q1   3.8

In [41]:
cpi_dataset['Date'] = cpi_dataset['Date'].str.replace('-03','Q1')
cpi_dataset['Date'] = cpi_dataset['Date'].str.replace('-06','Q2')
cpi_dataset['Date'] = cpi_dataset['Date'].str.replace('-09','Q3')
cpi_dataset['Date'] = cpi_dataset['Date'].str.replace('-12','Q4')

C:\Users\mk168\PycharmProjects\pythonTutorial\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\mk168\PycharmProjects\pythonTutorial\venv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\mk168\PycharmProjects\pythonTutorial\venv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\mk168\PycharmProjects\pythonTutorial\venv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [42]:
cpi_dataset

        Date      CPI
0     2010Q4  219.179
1    2010-11  218.803
2    2010-10  218.711
3     2010Q3  218.439
4    2010-08  218.312
..       ...      ...
115  2001-05    177.7
116  2001-04    176.9
117   2001Q1    176.2
118  2001-02    175.8
119  2001-01    175.1

[120 rows x 2 columns]

In [44]:
newcpi = cpi_dataset[(cpi_dataset.Date.str.contains("-") == False)]
newcpi

       Date      CPI
0    2010Q4  219.179
3    2010Q3  218.439
6    2010Q2  217.965
9    2010Q1  217.631
12   2009Q4  215.949
15   2009Q3  215.969
18   2009Q2  215.693
21   2009Q1  212.709
24   2008Q4  210.228
27   2008Q3  218.783
30   2008Q2  218.815
33   2008Q1  213.528
36   2007Q4  210.036
39   2007Q3  208.490
42   2007Q2  208.352
45   2007Q1  205.352
48   2006Q4    201.8
51   2006Q3    202.9
54   2006Q2    202.9
57   2006Q1    199.8
60   2005Q4    196.8
63   2005Q3    198.8
66   2005Q2    194.5
69   2005Q1    193.3
72   2004Q4    190.3
75   2004Q3    189.9
78   2004Q2    189.7
81   2004Q1    187.4
84   2003Q4    184.3
87   2003Q3    185.2
90   2003Q2    183.7
93   2003Q1    184.2
96   2002Q4    180.9
99   2002Q3    181.0
102  2002Q2    179.9
105  2002Q1    178.8
108  2001Q4    176.7
111  2001Q3    178.3
114  2001Q2    178.0
117  2001Q1    176.2