In [2]:
import pandas as pd
import requests
import json
import prettytable

In [3]:
headers = {'Content-type': 'application/json'}
cpi_series_id = "CUUR0000SA0"
cpi_info = json.dumps({"seriesid":[cpi_series_id],"startyear":"2001","endyear":"2021"})
response = requests.post("https://api.bls.gov/publicAPI/v2/timeseries/data/",data=cpi_info,headers=headers)
cpi_json_data = json.loads(response.text)

In [8]:
# print(json.dumps(json_data, indent=4, sort_keys=False))
response_results = []
for series in cpi_json_data['Results']['series']:    
    series_id = series['seriesID']
    for item in series['data']:
        entity={}
        entity['year'] = item['year']
        entity['period'] = item['period']
        entity['value'] = item['value']
        response_results.append(entity)
cpi_dataset = pd.DataFrame(response_results)
cpi_dataset.to_csv("../datasets/BLS_CPI.csv")

In [9]:
cpi_dataset.shape

(120, 3)

In [15]:
cpi_dataset[:20]

    year period    value
0   2010    M12  219.179
1   2010    M11  218.803
2   2010    M10  218.711
3   2010    M09  218.439
4   2010    M08  218.312
5   2010    M07  218.011
6   2010    M06  217.965
7   2010    M05  218.178
8   2010    M04  218.009
9   2010    M03  217.631
10  2010    M02  216.741
11  2010    M01  216.687
12  2009    M12  215.949
13  2009    M11  216.330
14  2009    M10  216.177
15  2009    M09  215.969
16  2009    M08  215.834
17  2009    M07  215.351
18  2009    M06  215.693
19  2009    M05  213.856

In [16]:
wsp_series_id = "CIU2020000000000A"
wsp_info = json.dumps({"seriesid":[wsp_series_id],"startyear":"2001","endyear":"2021"})
wsp_response = requests.post("https://api.bls.gov/publicAPI/v2/timeseries/data/",data=wsp_info,headers=headers)
wsp_json_data = json.loads(wsp_response.text)

In [17]:
print(json.dumps(wsp_json_data, indent=4, sort_keys=False))

{
    "status": "REQUEST_SUCCEEDED",
    "responseTime": 222,
    "message": [
        "Year range has been reduced to the system-allowed limit of 10 years."
    ],
    "Results": {
        "series": [
            {
                "seriesID": "CIU2020000000000A",
                "data": [
                    {
                        "year": "2010",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "1.8",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2010",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "1.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2010",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "1.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2010",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "1.5",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2009",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "1.3",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2009",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "1.4",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2009",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "1.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2009",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "2.0",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2008",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "2.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2008",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "2.9",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2008",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "3.1",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2008",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "3.2",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2007",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "3.3",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2007",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "3.4",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2007",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "3.3",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2007",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "3.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2006",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "3.2",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2006",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "3.0",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2006",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "2.8",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2006",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "2.4",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2005",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "2.5",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2005",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "2.3",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2005",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "2.5",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2005",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "2.7",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2004",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "2.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2004",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "2.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2004",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "2.7",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2004",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "2.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2003",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "3.1",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2003",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "3.0",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2003",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "2.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2003",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "2.9",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2002",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "2.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2002",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "3.1",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2002",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "3.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2002",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "3.5",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2001",
                        "period": "Q04",
                        "periodName": "4th Quarter",
                        "value": "3.8",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2001",
                        "period": "Q03",
                        "periodName": "3rd Quarter",
                        "value": "3.5",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2001",
                        "period": "Q02",
                        "periodName": "2nd Quarter",
                        "value": "3.6",
                        "footnotes": [
                            {}
                        ]
                    },
                    {
                        "year": "2001",
                        "period": "Q01",
                        "periodName": "1st Quarter",
                        "value": "3.8",
                        "footnotes": [
                            {}
                        ]
                    }
                ]
            }
        ]
    }
}

In [18]:
wsp_response_results = []
for series in cpi_json_data['Results']['series']:    
    series_id = series['seriesID']
    for item in series['data']:
        entity={}
        entity['year'] = item['year']
        entity['period'] = item['period']
        entity['value'] = item['value']
        wsp_response_results.append(entity)
wsp_dataset = pd.DataFrame(wsp_response_results)
wsp_dataset.to_csv("../datasets/BLS_WSP.csv")

In [19]:
wsp_dataset.shape

(120, 3)